<div class="container-full">
    <div class="title">
        <h2>Cách đo và tính chỉ số BMI theo hướng dẫn của Viện Dinh dưỡng Quốc gia</h2>
    </div>
    <div class="title-main">
        <div class="congthuc">
            <div class="congthuc-title">
                <h4>1.Công thức tính chỉ số BMI</h4>
                <p>
                    Chỉ số BMI còn được gọi là chỉ số khối lượng cơ thể (Body Mass Index). Dựa vào chỉ số BMI của một
                    người có thể biết được người đó béo, gầy hay có cân nặng lý tưởng. Chỉ số này được đề ra lần đầu
                    tiên vào năm 1832 bởi một nhà khoa học người Bỉ. Công thức tính chỉ số BMI tương đối đơn giản, chỉ
                    dựa vào 2 chỉ số là chiều cao và cân nặng: <br>
                    <strong class="tinhbmi"> BMI = Cân nặng/ [(Chiều cao)2]</strong> <br>
                    Trong đó, chiều cao tính bằng m và cân nặng tính bằng kg.
                    Chỉ số BMI không áp dụng cho phụ nữ có thai, vận động viên, người tập thể hình .
                </p>
            </div>
            <div class="congthuc-tinh">
                <div class="chieucao">
                    <label for="height">Nhập chiều cao</label>
                    <input type="number" id="height" [(ngModel)]="height" (input)="onHeightChange()">
                  </div>
                <div class="cannang">
                    <label for="">Nhập cân nặng</label>
                    <input type="text" [(ngModel)]="weight" placeholder="..." (input)="onWeightChange()">
                </div>
                <div class="daubang">
                    <span>=</span>
                </div>
                <div class="ketqua">
                    <label for=""></label>
                    <input type="text" placeholder="{{result}}" disabled>
                </div>
                <div class="danhgia">
                    <!-- <p>vui lòng nhập bmi của bạn</p> -->
                    <span *ngIf="result > 24.9" class="error">Bạn đang thừa cân roàiii , Gym nhé người anh em</span>

                    <span *ngIf="result > 18.5 && result <= 24.9" class="success">BMI như này thì khối người mê chữ ê kéo dàiiiii</span>

                    <span *ngIf="result <= 18" class="error">Bạn đang bị chê vì thiếu BMI , đừng buồn hãy ăn uống và tập thể dục đều đặn nhé ! hẹn bạn tháng sau quay lại kiểm tra .</span>

                </div>
            </div>
        </div>
        <div class="bangphanloai">
            <div class="congthuc-title">
                <h2>2. Bảng phân loại mức độ gầy-béo dựa vào chỉ số BMI</h2>
            </div>
            <div class="congthuc-hinhanh">
                <img src="assets/images/bangphanloai.webp" alt="" width="600px" height="400px">
            </div>
        </div>
    </div>
</div>