<div class="container-full">
    <div class="creat-task">
        <div class="creat-top">
            <div class="title">
                <h2>Tạo nhiệm vụ</h2>
            </div>
            <div class="tao">
                <button>Tạo</button>
            </div>
        </div>
        <div class="creat-bottom">
            <div class="hoten">
                <label for="">Họ tên</label> <br>
                <input type="text" placeholder="..." name="hoten">
            </div>
            <div class="nhiemvu">
                <label for="">Nhiệm vụ</label><br>
                <input type="text" placeholder="..." name="nhiemvu">
            </div>
            <div class="ngaybatdau">
                <label for="">Ngày bắt đầu</label><br>
                <input type="date" name="ngaybatdau">
            </div>
            <div class="ngayketthuc">
                <label for="">Ngày kết thúc</label><br>
                <input type="date" name="ngayketthuc">
            </div>
            <div class="chude">
                <label for="">Chủ đề</label><br>
                <input type="text" placeholder="..." name="chude">
            </div>
        </div>
    </div>
    <div class="table-task">
        <table border="1">
            <thead>
                <tr>
                    <th colspan="7" class="task-table">Nhiệm vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tên</td>
                    <td>Nhiệm vụ</td>
                    <td>Ngày bắt đầu</td>
                    <td>Ngày kết thúc</td>
                    <td>Chủ đề</td>
                    <td>Hoạt động</td>
                    <td>Chức năng</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">Không có nhiệm vụ nào được giao !</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>