<div class="container-full">
    <div class="creat-task">
      <button (click)="exportToPDF()">Xuất PDF</button>
      <button (click)="exportToExcel()">Xuất Excel</button>
      <form action="" (ngSubmit)="onSubmit()">
        <div class="creat-top">
            <div class="title">
                <h2>Tạo nhiệm vụ</h2>
            </div>
            <div class="tao">
                <button type="submit">Tạo</button>
            </div>
        </div>
        <div class="creat-bottom">
            <div class="hoten">
                <label for="">Họ tên</label> <br>
                <input type="text" placeholder="..." [(ngModel)]="task.name" name="name" >
            </div>
            <div class="nhiemvu">
                <label for="">Nhiệm vụ</label><br>
                <input type="text" placeholder="..."[(ngModel)]="task.description" name="description" >
            </div>
            <div class="ngaybatdau">
                <label for="">Ngày bắt đầu</label><br>
                <input type="date" name="ngaybatdau"  [(ngModel)]="task.startDate" name="startDate">
            </div>
            <div class="ngayketthuc">
                <label for="">Ngày kết thúc</label><br>
                <input type="date" name="ngayketthuc"  [(ngModel)]="task.endDate" name="endDate">
            </div>
            <div class="chude">
                <label for="">Chủ đề</label><br>
                <input type="text" placeholder="..."  [(ngModel)]="task.topic" name="topic">
            </div>
        </div>
      </form>
    </div>
    <div class="table-task">
        <table border="1">
          <thead>
            <tr>
              <th colspan="8" class="task-table">Nhiệm vụ</th>
            </tr>
          </thead>
          <tbody>
            <tr class="name">
              <td>Id</td>
              <td>Tên</td>
              <td>Nhiệm vụ</td>
              <td>Ngày bắt đầu</td>
              <td>Ngày kết thúc</td>
              <td>Chủ đề</td>
              <td>Hoạt động</td>
              <td>Chức năng</td>
            </tr>
            <tr class="thongtin" *ngFor="let t of tasks">
              <td>{{t.id}}</td>
              <td>{{ t.name }}</td>
              <td>{{ t.description }}</td>
              <td>{{ t.startDate }}</td>
              <td>{{ t.endDate }}</td>
              <td>{{ t.topic }}</td>
              <td class="danglam">
                Đang làm
              </td>
              <td>
                <button (click)="editTask(t)">Sửa</button>
                <button (click)="deleteTask(t)">Xóa</button>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="tasks.length === 0">
            <tr>
              <th colspan="7">Không có nhiệm vụ nào được giao !</th>
            </tr>
          </tfoot>
        </table>
    </div>
</div>