<div class="container">
  <div class="container-main">
    <div class="main-1">
      <div class="full-1">
        <div class="logo-1">
          <img src="assets/images/chienbinhsuckhoe-removebg-preview.png" alt="" width="190px" height="190px">
        </div>
        <div class="menu-1">
          <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i>Trang chủ</a></li>
            <li><a href="lich"><i class="fa-regular fa-calendar-days"></i>Lịch</a></li>
            <li><a href="task"><i class="fa-solid fa-list-check"></i>Nhiệm vụ</a></li>
            <li><a href="#"><i class="fa-solid fa-business-time"></i>Nhắc nhở</a></li>
            <li><a href="baothuc"><i class="fa-regular fa-clock"></i>Báo thức</a></li>
            <li><a href="bmi"><i class="fa-brands fa-squarespace"></i>Tính BMI</a></li>
            <li><a href="#"><i class="fa-solid fa-database"></i>Dữ liệu</a></li>
            <li><a href="#"><i class="fa-solid fa-clock-rotate-left"></i>Lịch sử</a></li>
            <li><a href="https://www.facebook.com/groups/1294677931489531" target="_blank"><i class="fa-brands fa-rocketchat"></i>Box chat</a></li>
            <li><a href="#"><i class="fa-solid fa-user-plus"></i>Đăng nhập</a></li>
            <li><a href="#"><i class="fa-solid fa-user-tie"></i>Đăng kí</a></li>
            <li><a href="#"><i class="fa-solid fa-download"></i>Xuất Excel</a></li>
            <li><a href="#"><i class="fa-solid fa-download"></i>Xuất PDF</a></li>
            <li><a href="#"><i class="fa-solid fa-cloud"></i>Thời tiết</a></li>
            <br>
            <li>
              DESIGN CBSK  - Version 2.0
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-2">
      <div class="main-group-2a">
       <div class="main-group-fixed-2a">
        <div class="menu-group-2a1">
          <ul>
            <li><a href="">Lịch</a></li>
            <li><a href="">GoogleMap</a></li>
            <li><a href="">Nhiệm vụ</a></li>
            <li><a href="">Lịch sử</a></li>
            <li><a href="">Địa điểm</a></li>
          </ul>
        </div>
        <div class="menu-group-2a2">
          <!-- <span>Thứ 6 , Ngày 13 - 2024</span> -->
          <span>{{currentTime}}</span>
        </div>
      </div>
       </div>
      <div class="main-group-2b">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>