<div class="container-full">
    <h2>Báo thức</h2>
    <div class="table-task">
        <table border="1">
            <thead>
                <tr>
                    <th colspan="7" class="task-table">Nhiệm vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tên</td>
                    <td>Nhiệm vụ</td>
                    <td>Ngày bắt đầu</td>
                    <td>Ngày kết thúc</td>
                    <td>Chủ đề</td>
                    <td>Hoạt động</td>
                    <td>Chức năng</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">Không có nhiệm vụ nào được giao !</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
